*{
    box-sizing: border-box;
}
.mision{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mision_imagen img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.mision_texto h1{
    text-align: center;
}
.mision_texto p{
    text-align: justify;
}
.emboltura{
    margin: 15px;
}
.emboltura h1{
    font-family: 'Nerko One', cursive;
}
.emboltura p{
    font-family: 'Roboto Condensed', sans-serif;
}
.card{
    width: 80%;
    height: 80%;
    text-align: center;
    margin-bottom: 10px;
   
}

.card h4{
    font-family: 'Nerko One', cursive;
}
.card a{
    font-family: 'Roboto Condensed', sans-serif;
}

.card_image{
    width: 40%;
    height: 100%;
    margin: auto;
}
.card_image img{
    
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.aside_t{
    
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    border-radius: 10px;
}