<div class="emboltura ">
    <div class="row">
       <div class="col-9">
        <div class="mision row">
            <div class="mision_imagen col-4">
                <img src="../../../assets/mision.png" alt="">
            </div>
            <div class="mision_texto col-8 ">
                <h1> Misión </h1>
                <p>Proveer de manera oportuna, y a un precio competitivo, medicamentos éticos y genéricos, dispositivos médicos, suministros hospitalarios, cosméticos, productos para el cuidado del bebé y minimarket; cumpliendo con altos estándares de calidad, que contribuyen a la salud y al bienestar de nuestros clientes, y garantizan un excelente servicio, una buena relación con los empleados, proveedores y acreedores, y una atractiva rentabilidad a los accionistas.</p>
            </div>
        </div>
        <div class="mision row">
            <div class="mision_imagen col-4">
                <img src="../../../assets/vision-PhotoRoom.png" alt="">
            </div>
            <div class="mision_texto col-8 ">
                <h1> Vision </h1>
                <p>Para el año 2025 DROGAS SYS será reconocida como una de las tres Distribuidoras de medicamentos y cadena de droguerías más importante en la región Caribe, tanto por su volumen de ventas como por su rentabilidad.</p>
            </div>
        </div>
        <div class="mision row">
            <div class="mision_imagen col-4">
                <img src="../../../assets/proceso-social.png" alt="">
            </div>
            <div class="mision_texto col-8 ">
                <h1> Razon social </h1>
                <p>En droguerías Farmavida, nos hemos orientado a promover, fortalecer y preservar, una cultura de salud y bienestar en nuestros clientes, ofreciendo gran cobertura y fácil acceso a todas nuestras sucursales, ubicadas en puntos estratégicos del departamento del Atlántico. Mediante planes de trabajo, infraestructura, personal capacitado y productos de calidad que den cumplimiento a los requisitos exigidos por la normativa farmacéutica vigente, nos comprometemos en la construcción de una sociedad más sana, y por consiguiente, más fuerte.

                    Para nosotros, es indispensable promover la calidad de vida en la comunidad, por lo que, a través la generación y formalización del empleo, ofrecemos oportunidades de desarrollo humano y profesional en un ambiente de trabajo seguro, no discriminatorio y participativo. Con el propósito de ofrecer un servicio oportuno, seguro y confiable, nos dedicamos a trabajar en el crecimiento y capacitación continua de nuestros colaboradores, dado que mayor educación, se traduce en mayores posibilidades de tener una comunidad sustentable.
                    
                    Las droguerías Farmavida son responsables con el medio ambiente. Por medio el manejo adecuado de los residuos de cada punto de venta, de la disposición final de los medicamentos y de la promoción de bolsas de papel por encima de las bolsas plásticas, se busca contribuir al cuidado y preservación del entorno.</p>
            </div>
        </div>
       </div>
       <div class="aside_t col-3 bg-primary">
            
            <div class="card" >
                <div class="card_image">
                <img src="../../../assets/ofertas-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Ofertas</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/ofertas/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="card" >
                <div class="card_image">
                <img src="../../../assets/maquillaje-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Belleza</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/belleza/"> Catalogo Actual</a>
                </div>
              </div>
              
              <div class="card" >
                <div class="card_image">
                <img src="../../../assets/bebé-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Cuidado del bebé</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/cuidado-del-bebe/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="card" >
                <div class="card_image">
                    <img src="../../../assets/cuidado-PhotoRoom.png" class="" alt="...">
                    </div>
                <div class="card-body">
                  <h4 class="card-text">Cuidado personal.</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/cuidado-personal/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="card" >
                
                    <div class="card_image">
                        <img src="../../../assets/medicina-web3-PhotoRoom.png" class="" alt="...">
                        </div>
                
                <div class="card-body">
                  <h4 class="card-text">Sadul y medicamentos.</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/salud-y-medicamentos/"> Catalogo actual</a>
                </div>
              </div>
        
       </div>
    </div>
    
    <!--<div class="mision row">
        <div class="mision_imagen col-4">
            <img src="../../../assets/mision.png" alt="">
        </div>
        <div class="mision_texto col-8 ">
            <h1> Misión </h1>
            <p>Proveer de manera oportuna, y a un precio competitivo, medicamentos éticos y genéricos, dispositivos médicos, suministros hospitalarios, cosméticos, productos para el cuidado del bebé y minimarket; cumpliendo con altos estándares de calidad, que contribuyen a la salud y al bienestar de nuestros clientes, y garantizan un excelente servicio, una buena relación con los empleados, proveedores y acreedores, y una atractiva rentabilidad a los accionistas.</p>
        </div>
    </div>-->
</div>
