<div>
    <div class="row">
        <div class="emboltura col-9">
            <div id="video">
                <div class="main_card card">
                    <div class="card-body">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Salud y bienestar mental
                                </button>
                              </h2>
                              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <youtube-player videoId="CBHp112kI3Q" suggestedQuality="highres"[height]="250" [width]="500"></youtube-player>
                                </div>
                            </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    cuerpo saludable
                                </button>
                              </h2>
                              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                <youtube-player videoId="OQ5T3NcwzSc" suggestedQuality="highres"[height]="250" [width]="500"></youtube-player>
                                </div>
                            </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    Cuidado Capilar
                                </button>
                              </h2>
                              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <youtube-player videoId="Kk30YdUwxvg" suggestedQuality="highres"[height]="250" [width]="500"></youtube-player>
                                </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFour">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                      Cuidados de la vista
                                  </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body">
                                    <youtube-player videoId="kuA2Ja4Ukss" suggestedQuality="highres"[height]="250" [width]="500"></youtube-player>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="aside_t col-3 bg-primary">
            <div class="aside_card card" >
                <div class="card_image">
                <img src="../../../assets/ofertas-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Ofertas</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/ofertas/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="aside_card card" >
                <div class="card_image">
                <img src="../../../assets/maquillaje-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Belleza</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/belleza/"> Catalogo Actual</a>
                </div>
              </div>
              
              <div class="aside_card card" >
                <div class="card_image">
                <img src="../../../assets/bebé-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Cuidado del bebé</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/cuidado-del-bebe/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="aside_card card" >
                <div class="card_image">
                    <img src="../../../assets/cuidado-PhotoRoom.png" class="" alt="...">
                    </div>
                <div class="card-body">
                  <h4 class="card-text">Cuidado personal.</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/cuidado-personal/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="aside_card card" >
                
                    <div class="card_image">
                        <img src="../../../assets/medicina-web3-PhotoRoom.png" class="" alt="...">
                        </div>
                
                <div class="card-body">
                  <h4 class="card-text">Sadul y medicamentos.</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/salud-y-medicamentos/"> Catalogo actual</a>
                </div>
              </div>
        </div>
    </div>
</div>
