<div >
    <div class="row">
        <div class="col-9">
            <div class="container">
                <div class="servicios">
                    <h4 class="fs-2 pb-4 text-center py-5" style="color: #434242;">  C o n t a c t a n o s  </h4>
                  </div>
                  <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.5749445119063!2d-74.82985264982462!3d10.99542135808187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42cfdf979f855%3A0xc5e7ab247429871b!2sFarmavida!5e0!3m2!1ses!2sco!4v1669607335592!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>     
                 </div>
                  <div class="form col-md-7 col-lg-8 py-5">
                    <form class="needs-validation" novalidate="">
                      <div class="row g-3">
                        <div class="col-sm-6">
                          <label for="firstName" class="form-label fw-bold">Nombre</label>
                          <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                          <div class="invalid-feedback">
                            El nombre es requerido.
                          </div>
                        </div>
            
                        <div class="col-sm-6">
                          <label for="lastName" class="form-label fw-bold">Apellido</label>
                          <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                          <div class="invalid-feedback">
                            El apellido es requerido.
                          </div>
                        </div>
            
                        <div class="col-12">
                          <label for="username" class="form-label fw-bold">Correo Electronico</label>
                          <div class="input-group has-validation">
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" id="username" placeholder="you@example.com" required="">
                          <div class="invalid-feedback">
                              Tu email es requerido
                            </div>
                          </div>
                        </div>
            
            
                        <div class="col-12">
                          <label for="address" class="form-label fw-bold">Telefono</label>
                          <input type="text" class="form-control" id="address" placeholder="" required="">
                          <div class="invalid-feedback">
                            Por favor ingrese su telefono.
                          </div>
                        </div>
            
            
                        <div class="col-md-5">
                          <label for="country" class="form-label fw-bold">Pais</label>
                          <select class="form-select" id="country" required="">
                            <option value="">Elegir</option>
                            <option>Colombia</option>
                          </select>
                          <div class="invalid-feedback">
                            Por favor,seleccione su pais
                          </div>
                        </div>
            
                        <div class="col-md-4">
                          <label for="state" class="form-label fw-bold">Ciudad</label>
                          <select class="form-select" id="state" required="">
                            <option value="">Elegir</option>
                            <option>Cali</option>
                            <option>Barranquilla</option>
                            <option>Medellin</option>
                          </select>
                        </div>
            
                        <div class="col-md-3">
                          <label for="zip" class="form-label fw-bold">Codigo Postal</label>
                          <input type="text" class="form-control" id="zip" placeholder="" required="">
                        </div>
                      </div>
            
                      <hr class="my-4">
            
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="fw-bold">Mensaje</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
            
                      <hr class="my-4">
                      <div class="d-flex justify-content-center align-items-center">
                      <button class="w-25 btn btn-secondary btn-sm" type="submit">Enviar</button>
                      </div>
                    </form>
                  </div>
                </div>
        </div>
        <div class="aside_t col-3 bg-primary">
            <div class="card" >
                <div class="card_image">
                <img src="../../../assets/ofertas-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Ofertas</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/ofertas/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="card" >
                <div class="card_image">
                <img src="../../../assets/maquillaje-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Belleza</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/belleza/"> Catalogo Actual</a>
                </div>
              </div>
              
              <div class="card" >
                <div class="card_image">
                <img src="../../../assets/bebé-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Cuidado del bebé</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/cuidado-del-bebe/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="card" >
                <div class="card_image">
                    <img src="../../../assets/cuidado-PhotoRoom.png" class="" alt="...">
                    </div>
                <div class="card-body">
                  <h4 class="card-text">Cuidado personal.</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/cuidado-personal/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="card" >
                
                    <div class="card_image">
                        <img src="../../../assets/medicina-web3-PhotoRoom.png" class="" alt="...">
                        </div>
                
                <div class="card-body">
                  <h4 class="card-text">Sadul y medicamentos.</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/salud-y-medicamentos/"> Catalogo actual</a>
                </div>
              </div>
        </div>
    </div>
</div>