<div class="emboltura">
    <div class="row">
        <div class="col-9">
            <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
                <div class="carousel-indicators">
                  <button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img alt="..." class="d-block w-100" src="../../../assets/medicina-web3-PhotoRoom.png">
                    <div class="carousel-caption ">
                      <h5>Todo para tu bienestar </h5>
                      <p>¡Que nunca te falte nada!</p>
                      
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img alt="..." class="d-block w-100" src="../../../assets/maquillaje-PhotoRoom.png">
                    <div class="carousel-caption">
                      <h5>Articulos de belleza</h5>
                      <p>Tu belleza e imagen tambien nos importan.</p>
                      
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img alt="..." class="d-block w-100" src="../../../assets/ofertas-PhotoRoom.png">
                    <div class="carousel-caption">
                      <h5>Todo tipo de descuentos </h5>
                      <p>Que nunca falten las rebajas.</p>
                      
                    </div>
                  </div>
                </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true" class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
              </div>

              <div class="informacion">
                <h1>Revisa todos nuestros catalogos a tu derecha</h1>
              </div>
        </div>
        <div class="aside_t col-3 bg-primary">
            <div class="card" >
                <div class="card_image">
                <img src="../../../assets/ofertas-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Ofertas</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/ofertas/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="card" >
                <div class="card_image">
                <img src="../../../assets/maquillaje-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Belleza</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/belleza/"> Catalogo Actual</a>
                </div>
              </div>
              
              <div class="card" >
                <div class="card_image">
                <img src="../../../assets/bebé-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Cuidado del bebé</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/cuidado-del-bebe/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="card" >
                <div class="card_image">
                    <img src="../../../assets/cuidado-PhotoRoom.png" class="" alt="...">
                    </div>
                <div class="card-body">
                  <h4 class="card-text">Cuidado personal.</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/cuidado-personal/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="card" >
                
                    <div class="card_image">
                        <img src="../../../assets/medicina-web3-PhotoRoom.png" class="" alt="...">
                        </div>
                
                <div class="card-body">
                  <h4 class="card-text">Sadul y medicamentos.</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/salud-y-medicamentos/"> Catalogo actual</a>
                </div>
              </div>
        </div>
    </div>
</div>
