<div class="emboltura">
    <div class="row">
        <div class="texto_main col-9">
            
            <h1> ¿Quiénes Somos?</h1>
            <p>Somos establecimientos de comercio legalmente constituidos en la Región caribe Colombiana fundados en el año de 1994. Nos dedicamos a la comercialización de medicamentos, dispositivos médicos, cosméticos,  suministros hospitalarios y demás productos autorizados, por medio de una atención rápida, amable y personalizada, que garantice una experiencia satisfactoria para los clientes, motivándolos a preferirnos constantemente. Operamos bajo las denominaciones de Droguerías Farmavida, Droguerías Interdrogas y Droguerías Universal.</p>
                <ul>
                    <li><b>DROGUERIAS FARMAVIDA</b> está presente en la ciudad de Barranquilla y municipios del departamento del Atlántico, tales como, Baranoa, Galapa, Malambo, Puerto Colombia, Sabanalarga y Soledad.</li>
                    <li><b>DROGUERIAS INTERDROGAS</b> está presente en la ciudad de Cartagena, el corregimiento de Bayunca y el municipio de Turbaco (Bolívar).</li>
                    <li> <b>DROGUERIAS UNIVERSAL</b> está presente en la ciudad de Santa Marta, el balenario del Rodadero y municipios del departamento del Magdalena, tales como, Ciénaga, Aracataca y Fundación.</li>
                </ul>
                
                
               
             <p>  
                Los productos que ofrecemos para su salud y bienestar se dividen en 5 categorías, que son:
            </p> 
            <ul>
                <li> Salud y medicamentos</li>
                <li>Cuidado del bebé</li>
                <li>Cuidado personal</li>
                <li>Belleza</li>
                <li>Minimarket</li>
            </ul>
             
            <div class="farmavida"> 
                <img src="../../../assets/logo_header_f.png">
            </div>
        </div>
        <div class="aside_t col-3 bg-primary">
            <div class="card" >
                <div class="card_image">
                <img src="../../../assets/ofertas-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Ofertas</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/ofertas/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="card" >
                <div class="card_image">
                <img src="../../../assets/maquillaje-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Belleza</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/belleza/"> Catalogo Actual</a>
                </div>
              </div>
              
              <div class="card" >
                <div class="card_image">
                <img src="../../../assets/bebé-PhotoRoom.png" class="" alt="...">
                </div>
                <div class="card-body">
                  <h4 class="card-text">Cuidado del bebé</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/cuidado-del-bebe/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="card" >
                <div class="card_image">
                    <img src="../../../assets/cuidado-PhotoRoom.png" class="" alt="...">
                    </div>
                <div class="card-body">
                  <h4 class="card-text">Cuidado personal.</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/cuidado-personal/"> Catalogo Actual</a>
                </div>
              </div>
              <div class="card" >
                
                    <div class="card_image">
                        <img src="../../../assets/medicina-web3-PhotoRoom.png" class="" alt="...">
                        </div>
                
                <div class="card-body">
                  <h4 class="card-text">Sadul y medicamentos.</h4>
                  <a href="https://drogueriasfarmavida.com/categoria-producto/salud-y-medicamentos/"> Catalogo actual</a>
                </div>
              </div>
        </div>
    </div>
</div>
